@import url("mustard-ui");

/*
*, *::before, *::after {
	box-sizing: border-box;
	font-size: 16px;
}

html, body {
	margin: 0;
	padding: 0;
	width: 500px;
}

.section {
}

.section-title {
}

.color-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.color-label {
}

.usernames {
	width: 100%;
	height: 150px;
	overflow: scroll;
}
*/

/*
	height: 3em;
}

.save-button {
	padding: 0.25em 2em;
	border-radius: 4px;
	border: solid 2px #bad4dd;
	background-color: #dcf6ff;
}
.save-button:active {
	background-color: #cbe5ee;
}
*/

html, body {
	width: 500px;
}

h1 {
	font-size: 26px;
	line-height: 1.5em;
}

.section {
	padding: 0;
	margin: 10px;
}

.color-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.usernames {
	height: 200px;
	resize: vertical;
}

.regexp-wrapper {
	margin: 10px;
}

.regexp-checkbox {
	margin: 0;
}

.separator {
	margin-top: 20px;
	margin-bottom: 20px;
}

.button-wrapper {
	text-align: center;
}

